## Solver Configuration File
## Name: Default
## Date: Wed Jun 25 11:20:59 EDT 2008
######################################

## Basic Parameters
######################################
## Solver mode
## Type: enum(Initial,MPP)
ExamBasic.Mode=Initial
## When finished
## Type: enum(No Action,Save,Save and Unload)
ExamBasic.WhenFinished=No Action

## Examination Weights
######################################
## Default number of room splits per exam
## Type: integer
Exams.MaxRooms=4
## Consider back-to-back over day break
## Type: boolean
Exams.IsDayBreakBackToBack=false
## Direct conflict weight
## Type: double
Exams.DirectConflictWeight=1000.0
## Three or more exams a day conflict weight
## Type: double
Exams.MoreThanTwoADayWeight=100.0
## Back-to-back conflict weight
## Type: double
Exams.BackToBackConflictWeight=10.0
## Distance back-to-back conflict weight
## Type: double
Exams.DistanceBackToBackConflictWeight=25.0
## Back-to-back distance (-1 means disabled)
## Type: double
Exams.BackToBackDistance=-1
## Period preference weight
## Type: double
Exams.PeriodWeight=1.0
## Room preference weight
## Type: double
Exams.RoomWeight=1.0
## Distribution preference weight
## Type: double
Exams.DistributionWeight=1.0
## Room split weight
## Type: double
Exams.RoomSplitWeight=10.0
## Excessive room size weight
## Type: double
Exams.RoomSizeWeight=0.001
## Exam rotation weight
## Type: double
Exams.RotationWeight=0.001
## Direct instructor conflict weight
## Type: double
Exams.InstructorDirectConflictWeight=0.0
## Three or more exams a day instructor conflict weight
## Type: double
Exams.InstructorMoreThanTwoADayWeight=0.0
## Back-to-back instructor conflict weight
## Type: double
Exams.InstructorBackToBackConflictWeight=0.0
## Distance back-to-back instructor conflict weight
## Type: double
Exams.InstructorDistanceBackToBackConflictWeight=0.0
## Perturbation penalty weight
## Type: double
Exams.PerturbationWeight=0.001
## If an examination in split between two or more rooms, weight for an average distance between these rooms
## Type: double
Exams.RoomSplitDistanceWeight=0.01
## Large Exam Penalty: minimal size of a large exam (disabled if -1)
## Type: integer
Exams.LargeSize=-1
## Large Exam Penalty: first discouraged period = number of periods x this factor
## Type: double
Exams.LargePeriod=0.67
## Large Exam Penalty: weight of a large exam that is assigned on or after the first discouraged period
## Type: double
Exams.LargeWeight=1.0

## General Parameters
######################################
## Examination timetabling neighbour selection class
## Type: text
Neighbour.Class=net.sf.cpsolver.exam.heuristics.ExamNeighbourSelection
## Maximal solver time (in sec)
## Type: integer
Termination.TimeOut=1800
## Used heuristics
## Type: enum(Great Deluge,Simulated Annealing)
Exam.Algorithm=Great Deluge
## Hill Climber: maximal idle iteration
## Type: integer
HillClimber.MaxIdle=25000
## Stop when a complete solution if found
## Type: boolean
Termination.StopWhenComplete=false
## Save best when x unassigned
## Type: integer
General.SaveBestUnassigned=-1

## Great Deluge Parameters
######################################
## Cooling rate
## Type: double
GreatDeluge.CoolRate=0.99999995
## Upper bound rate
## Type: double
GreatDeluge.UpperBoundRate=1.05
## Lower bound rate
## Type: double
GreatDeluge.LowerBoundRate=0.95

## Simulated Annealing Parameters
######################################
## Initial temperature
## Type: double
SimulatedAnnealing.InitialTemperature=1.5
## Cooling rate
## Type: double
SimulatedAnnealing.CoolingRate=0.95
## Temperature length
## Type: integer
SimulatedAnnealing.TemperatureLength=25000
## Reheat length coefficient
## Type: double
SimulatedAnnealing.ReheatLengthCoef=5

## Other Properties
######################################
Xml.ShowNames=true
General.CreateNewSolution=false
General.Unload=false
Extensions.Classes=net.sf.cpsolver.ifs.extension.ConflictStatistics
General.SettingsId=101
ConflictStatistics.Print=true
General.Save=false
Exam.GreatDeluge=true